# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Build files
build/
dist/

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db